<div class="character-details" *ngIf="character">
	<div class="info">
		<div class="img" [ngStyle]="character?.getPicture() | bgimagen"></div>
		<div class="desc">
			<div class="fullname">
				{{ character.name }}
			</div>
			<div class="bio">
				{{ character.description }}
			</div>
			<div class="links">
				<div *ngFor="let url of character.urls" class="text-truncate">
					<b>{{ url.type }}:</b>&nbsp;
					<a [href]="url.url">{{ url.url }}</a>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="mv-title">Comics list</div>
	<hr>
	<br>
	<div class="comics-list">
		<div class="comic-item"
			(click)="onShowComic(cmc)"
			*ngFor="let cmc of comics"
			[ngStyle]="cmc.getPicture() | bgimagen">
			
		</div>
	</div>
</div>