.character-details {
	margin: 40px;
	
	.info {
		display: flex;
		
		.img {
			width: 215px;
			height: 330px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			border: 1px solid #f24;
			margin-right: 25px;
			-webkit-box-shadow: 0px 10px 9px -4px rgba(148,148,148,1);
			-moz-box-shadow: 0px 10px 9px -4px rgba(148,148,148,1);
			box-shadow: 0px 10px 9px -4px rgba(148,148,148,1);
		}

		.desc {
			width: calc(100% - 310px);

			.fullname {
				font-size: 20pt;
				font-weight: bolder;
			}

			.bio {
				font-size: 18pt;
				height: 210px;
			}

			.links {
				font-size:14pt;
			}
		}

	}

	.comics-list {
		display: flex;
		align-items: flex-start;
        justify-content: flex-start;
        flex-flow: row;
        flex-wrap: wrap;

		.comic-item {
			font-size: 14pt;
			border: 3px solid #fdfdfd;
			width: 130px;
			height:200px;
			cursor: pointer;
			margin: 0 15px 15px 0;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			transition: all 0.6s ease;
			
			&:hover {
				border-color: #f24;
				-webkit-box-shadow: 0px 10px 9px -4px rgba(148,148,148,1);
				-moz-box-shadow: 0px 10px 9px -4px rgba(148,148,148,1);
				box-shadow: 0px 10px 9px -4px rgba(148,148,148,1);
			}
		}
	}


	.mv-title {
		font-size: 20pt;
		font-weight: bolder;
		text-transform: uppercase;
	}
}