<div class="mv-toolbar icon-favourites">
	<div class="title">My favourites</div>
</div>
<div *ngIf="!app.favourites || app.favourites.length == 0" class="no-favourites animated zoomIn">
	Has no comics added to favorites!
</div>
<div class="mv-poster animated fadeIn" *ngFor="let favourite of app.favourites" #idme>
	<div class="img" [ngStyle]="favourite.getPicture() | bgimagen"></div>
	<div class="title">{{ favourite.title }}</div>
	<button type="button" class="btnclose" (click)="fpop(idme, favourite.id)"></button>
</div>