@import "../../../variables.scss";

:host {
	position: absolute;
	top: 76px;
	bottom: 76px;
	right: 0px;
	width: 320px;
	// border:1px solid blue;
	display: block;
	overflow: auto;
	background-color: #ebebeb;
	transition: all .8s ease;


	.mv-poster {
	    width: 215px;
	    margin: 0 auto 20px auto;
		position: relative;

		.img {
		    width: 215px;
		    height: 330px;
		    background-size: contain;
		    background-position: center;
		    background-repeat: no-repeat;
			-webkit-box-shadow: 0px 10px 9px -4px rgba(148,148,148,1);
			-moz-box-shadow: 0px 10px 9px -4px rgba(148,148,148,1);
			box-shadow: 0px 10px 9px -4px rgba(148,148,148,1);
			cursor: pointer;
		}

		.title {
		    font-size: 16pt;
		    font-weight: 600;
		    line-height: 23px;
		    text-align: center;
		    margin: 10px auto;
		}

		.btnclose {
			position: absolute;
			top: -10px;
			right: -10px;
			height: 30px;
			width: 30px;
			border: none;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			background-color: transparent;
			background-image: url('/assets/icons/btn-delete.png');
		}
	}

	.no-favourites {
		border: 1px solid #c4c4c4;
		margin: 0 auto;
		width: fit-content;
		padding: 5px 15px;
		border-radius: 4px;
	}
}
