<div class="mv-toolbar icon-character">
	<div class="title">Characters</div>
</div>
<div *ngIf="_characters && _characters.length == 0" class="no-favourites animated fadeIn">
	Has no comics added to favorites!
</div>
<div class="character-container">
	<div class="character-card" [character]="_character" *ngFor="let _character of _characters"></div>
</div>
<div class="pagination-container" *ngIf="_characters?.length > 0">
	<!-- <div class="pag-button btnl"></div> -->
	<div class="pag-button"
		(click)="gotoPage(p.page)"
		[ngClass]="p.class"
		*ngFor="let p of pagination.links()">{{p.label}}</div>
</div>
