@import '../../../variables';

.character-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: wrap;
    padding: 15px;
}

.pagination-container {
	position: relative;
	margin: 25px auto 40px auto;
	width: 455px;
	height: 50px;
	display: flex;
	align-items: flex-start;
    justify-content: space-between;
    flex-flow: wrap;

	.pag-button {
		border: 1px solid #ddd;
		width:  50px;
		height: 50px;
		display: flex;
		align-items: center;
    	justify-content: center;
		cursor: pointer;
		background-repeat: no-repeat;
		background-position: center;
		background-color: white;
		background-size: 60%;
		background-size: 60%;
		font-size: 18px;
    	font-weight: bold;
		&.active { background-color: #fcfcfc; border: none; }
		&.btnl { 
			transform: rotate(180deg);
			background-image: url('/assets/icons/btn_arrow_right.png');
			// background-image: url('/assets/icons/btn_arrow_left.png');
		}
		&.btnr { background-image: url('/assets/icons/btn_arrow_right.png'); }

		&:hover {
			background-color: $color-active;
			color: white;
		}
	}
}