@import "../../../variables.scss";

:host {
	margin: 0 10px 10px 0;
	position: relative;
	width: 450px;
	height: 370px;
	color: $color-font;

}
.thumbnail {
	position: absolute;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 50%;
	height: 200px;
	width: 200px;
	z-index: 1020;
	-webkit-box-shadow: 0px 10px 9px -4px rgba(148,148,148,1);
	-moz-box-shadow: 0px 10px 9px -4px rgba(148,148,148,1);
	box-shadow: 0px 10px 9px -4px rgba(148,148,148,1);
}

.fullname {
	position: absolute;
	top: 2px;
	right: 25px;
    font-size: 18pt;
    font-weight: bold;
    display: block;
    width: 200px;
    // text-align: center;
    text-transform: uppercase;
}

.info {
	position: absolute;
	width: 430px;
	height: 350px;
	bottom: 0;
	right: 0;
	background-color: #fdfdfd;

	// * { border: 1px solid $color-active; }

	.desc {
		height: 180px;
		padding: 15px 24px 8px 204px;
		
		.bio {
			height: 120px;
			margin-bottom: 4px;
			overflow: hidden;
		}
	}
	
	.related {

		.title {
			font-size: 14pt;
			font-weight: bold;
			padding: 15px;
		}
		
		.comics {
			display: flex;
			align-items: flex-start;
			justify-content: space-around;
			flex-wrap: wrap;

			.ch-link {
				width: 40%;
				height: 50px;
				line-height: 18px;
				cursor: pointer;
				position: relative;
				transition: all .6s ease;

				&:hover {
					padding-left: 30px;
					color: $color-active;
					
					&:after {
						content: '';
						position: absolute;
						top: calc(50% - 10px);
						left: 0;
						width: 20px;
						height: 20px;
						background-repeat: no-repeat;
						background-size: cover;
						background-image: url('/assets/icons/link-arrow.png');
					}
				}
			}
		}
	}
	
}