<div class="info" *ngIf="character">
	<div class="desc">
		<div class="bio">{{ character.description }}</div>
		<button type="button" class="mv-btn" [routerLink]="['/character', character.id]">view more</button>
	</div>
	<div class="related">
		<div class="title">Related comics</div>
		<div class="comics">
			<div class="ch-link"
				(click)="openComic(c.resourceURI)"
				*ngFor="let c of character.comics">{{ c.name }}</div>
		</div>
	</div>
</div>
<div class="fullname text-truncate">{{ character?.getAlias() }}</div>
<div class="thumbnail" [ngStyle]="character?.getPicture() | bgimagen"></div>