:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

	.cover {
	    z-index: 1020;
		width: 315px;
	    display: flex;
    	align-items: center;
    	justify-content: center;
    	flex-flow: column;

    	.error404 {
    		font-size: 16pt;
    		font-weight: bolder;
    		margin: 15px;
    	}

		.img {
			width: 315px;
		    height: 430px;
			-webkit-box-shadow: 0px 10px 9px -4px rgba(148,148,148,1);
			-moz-box-shadow: 0px 10px 9px -4px rgba(148,148,148,1);
			box-shadow: 0px 10px 9px -4px rgba(148,148,148,1);
			background-image: url('/assets/images/cover-notFound.jpg');
			background-size: cover;
			background-repeat: no-repeat;
		}

		.text {
			margin: 20px;
			text-align: justify;
		}
		
		.buttons {
		    display: flex;
	    	align-items: center;
	    	justify-content: center;
	    	justify-content: space-around;
	    	width: 100%;
		}
	}
}