<div class="cover">
	<span class="error404" >Error (404)</span>
	<div class="img"></div>
	<div class="text">
		The resource you are trying to see is not available, try again later or verify the url you are trying to access.
	</div>
	<div class="buttons">
		<button type="button" class="mv-btn" (click)="app.goHome()">go Home</button>
		<button type="button" class="mv-btn" (click)="app.goBack()">go Back</button>
	</div>
</div>
