<div class="animated fadeIn">
	<nav class="mv-topbar navbar navbar-expand-lg navbar-light bg-topbar"></nav>
	<div class="bodymain" [ngClass]="{'loading': loading}">
		<div class="page-container">
			<router-outlet></router-outlet>
		</div>	
	</div>
	<div class="favourites-bar animated slideInRight mobile" [ngClass]="{ 'open-bar': openbar }"></div>
	<div class="footBar">
		All copyrights reserved (2020).
    <button type="button" class="mv-btn animated fadeIn showbtn btnMobile" (click)="openbar = !openbar">
      My Favourites
    </button>
	</div>	
</div>

<div class="modal fade"
	id="staticBackdrop"
	data-backdrop="static"
	tabindex="-1"
	role="dialog"
	aria-labelledby="staticBackdropLabel"
	[ngStyle]="modalbg"
	aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="mdl-close" data-dismiss="modal"></div>
      <div class="modal-body" style="padding:0">
				<div class="comic-details" *ngIf="comic">
          <div class="info">
            <div class="img" [ngStyle]="comic.getPicture() | bgimagen"></div>
            <div class="desc">
              <div class="title">{{ comic.title }}</div>
              <div class="text">
                {{ comic.description }}
              </div>
            </div>
          </div>
          <div class="buttons">
            <div class="mdl-button"
              (click)="setFavourite(comic)"
              [ngClass]="{'active': chkFavourite(comic.id) }">
                <div class="label fav" *ngIf="chkFavourite(comic.id)">
                  added to favourites
                </div>
                <div class="label fav" *ngIf="!chkFavourite(comic.id)">
                  add to favourites
                </div>
              </div>
            <div class="mdl-button">
                <div class="label buy">buy for 1 00.99</div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>