@import "../variables.scss";

:host {
	background-color: #f4f4f4;
	max-width: 1280px;
    display: block;
    position: relative;
    height: 100vh;
    margin: 0 auto;
}

.bodymain {
	position: absolute;
	top: 76px;
	left: 0;
	right: 0px;
	bottom: 76px;
	// border:1px solid blue;
	display: block;
	overflow: auto;
	transition: all 0.8s ease;

	&:after {
		content: '';
		position: absolute;
		background-image: url('/assets/images/spinner1.gif');
		background-position: center;
		background-repeat: no-repeat;
		background-color: #efefef;
		top: 50%;
		left: 50%;
		right: 50%;
		bottom: 50%;
		transition: all .4s ease;
		z-index: 1080;
		// display: none;
	}

	&.loading {
		&:after {
			top: 0%;
			left: 0%;
			right: 0%;
			bottom: 0%;
		}
	}
}

.navbar {
	z-index: 1020;
	-webkit-box-shadow: 0px 10px 9px -4px rgba(148,148,148,1);
	-moz-box-shadow: 0px 10px 9px -4px rgba(148,148,148,1);
	box-shadow: 0px 10px 9px -4px rgba(148,148,148,1);
}

.footBar {
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 100%;
	height: 76px;
	background-color: #2d2727 !important;
}

.page-container {
	width: 100%;
	position: relative;
	background-color: #f4f4f4;
	height: 100%;
}

.footBar {
	color: white;
    padding: 30px 100px;
}

.showbtn {
	position: absolute;
	top: 20px;
	right: 20px;
}