/* You can add global styles to this file, and also import other style files */

@import "./variables.scss";

.mobile {
    display: none !important;
}

body {
    font-family: 'Marvel';
    background-image: url('/assets/images/bg-body.gif');
}

input, button {
    &:focus { outline: none; }
}

.mv-toolbar {
    position: relative;
    padding: 20px 40px 20px 70px;
    // border: 1px solid darkgreen;
    
    .title {
        font-size: 20pt;
        font-weight: bolder;
    }

    &:after {
        content: '';
        width: 40px;
        height: 40px;
        // border: 1px solid green;
        position: absolute;
        top: 18px;
        left: 15px;
    }

    &.icon-character:after { background-image: url('/assets/icons/characters.png'); }
    &.icon-favourites:after { background-image: url('/assets/icons/favourites.png'); }
}

.modal {
    
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background-image: url(/assets/images/bgblur.jpg);
        background-position: center;
        background-repeat: no-repeat;
        // background-size: cover;
        filter: blur(15px);
    }
}

.mv-btn {
    background-color: $color-active;
    color: white;
    height: 36px;
    width: 95px;
    font-size: 12pt;
    font-weight: bolder;
    text-transform: uppercase;
    transition: all .4s ease;
    border: none;

    &:hover {
        background-color: $color-hover;
        // color: $color-active;
        color: #ed1e24;
    }
}

.comic-details {    
    .info {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 15px;
        padding: 25px;

        .img {
            width: 270px;
            height: 400px;
            border: none;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-color: transparent;
            border: 1px solid #ddd;
            // background-image: url('http://i.annihil.us/u/prod/marvel/i/mg/e/60/5a56673466965.jpg');
        }

        .desc {
            display: flex;
            align-items: flex-start;
            justify-content: space-around;
            flex-flow: column;
            width: calc(100% - 300px);
            
            .title{
                font-size: 20pt;
                font-weight: bolder;
            }

            .text {
                font-size: 14pt;
            }
        }
    }

    .buttons {
        // border: 1px solid blue;
        height: 50px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-flow: row;
        
        .mdl-button {
            width: 50%;
            height: 50px;
            // border: 1px solid green;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background-color: #f0f0f0;

            &:hover{
                background-color: #dcdcdc;
            }

            .label {
                font-size: 16pt;
                font-weight: bolder;
                text-transform: uppercase;
                color: $color-active;
                padding-left: 40px;
                position: relative;

                &:after {
                    content: '';
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-color: transparent;
                    width: 30px !important;
                    height: 30px !important;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                &.buy {
                    color: $color-active;
                    &:after {
                        background-image: url('/assets/icons/shopping-cart-primary.png');
                    }
                    
                }

                &.fav {
                    color: #3e3432;

                    &:after {
                        background-image: url('/assets/icons/btn-favourites-default.png');
                    }
                    
                }
            }

            &.active {
                background-color: #3e3432;

                .label {
                    color: $color-active;
                    &:after {
                        background-image: url('/assets/icons/btn-favourites-primary.png');
                    }                    
                }
            }
        }
    }
}

.mdl-close {
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url('/assets/icons/btn-close.png');
    cursor: pointer;
    z-index: 1080;
}

::placeholder {  color: #888; opacity: 0.4; }
:-ms-input-placeholder { color: #888; }
::-ms-input-placeholder { color: #888;}

.placeholder-white::placeholder {  color: white; opacity: 0.4; }
.placeholder-white:-ms-input-placeholder { color: white; }
.placeholder-white::-ms-input-placeholder { color: white;}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 4px;
    transition: all 0.8s ease;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
    /*border: 5px solid #f24;*/
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ec1e23;
}



@media (min-width: 820px) {
    .mobile {
        display: block !important;
    }
    .btnMobile {
        display: none !important;   
    }

    .bodymain {
        right: 321px !important;
    }

    // .favourites-bar {
    //     width: calc(100% - 180px);
    // }
}


.open-bar {
    display: block !important;
}